<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header> 
      <div class="row">
        <div class="columns small-12">
           <h1 class="jumbotron">Random Jargon </h1></header>
           <hr>
        </div>
      </div>
     <div class="row">
       <div class="columns small-12">
             <%= yield %>
       </div>
     </div>
     <footer>
       <div class="row">
         <div class="columns small-12 medium-4 panel">
           <ul>
             <li>Stuff</li>
             <li>More Stuff</li>
             <li>Bah</li>
           </ul>
         </div>
         <div class="columns small-12 medium-4 panel">
           <ul>
             <li>Facebook</li>
             <li>Twitter</li>
             <li>Linkedin</li>
           </ul>
         </div>
         <div class="columns small-12 medium-4 panel">
           <ul>
             <li>More Cool stuff</li>
             <li>bah</li>
             <li>Typing words</li>
           </ul>
         </div>
       </div>
     </footer>



  </body>
</html>
