<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Baltimore Unscene Map" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <nav class="row top-bar">
      <div class="small-4 columns">
        <h1>Baltimore Unscene Map</h1>
      </div>
    </nav>

    <div class="row">
      <div class="large-8 offset-2 columns">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
